.reg-form .warning {
    -webkit-text-stroke: 1px red;
    color: red;
    text-align: center;
    font-weight: lighter;
}

.reg-title {
    text-align: center;
}

.reg-form {
    display: inline-grid;
    grid-template-columns: repeat(1, 1fr);
}

.reg-form div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: .5rem;
    text-align: left;
}

.reg-centering {
    text-align: center;
}

.reg-form input::placeholder {
    opacity: 0.3;
    text-align: center;
}

.reg-submit {
    height: 3rem;
    width: 10rem;
    border-radius: 10rem;
    background-color: rgba(0, 0, 0, 0.658);
    color: red;
}

.reg-submit:focus {
    outline: none;
}

.reg-submit:hover {
    cursor: pointer;
}