div {
    
}

.landing-title {
    height: 30rem;;
    width: 100%;
    text-align: center;
    background-image: url("https://cdna.artstation.com/p/assets/images/images/014/524/622/large/erica-grenci-wasteland-city-03small.jpg?1544339989");
    background-position: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.landing-title h1 {
    font-size: 5rem;
}

.landing-title h2 {
    font-size: 2rem;
}